

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */

 
  
.navbar-toggler{
    margin-right: -280px;
    mainrg-left: 185px;
}

.banner {
  width: 1407px;
    height: 200vh;
}
.banner .container{
   /* width: auto;*/
}
.banner-left, .banner-right {
    height: 87vh;
  }
.b-title{
    font-size: 61px;
    margin: 0px 170px;
    
  }
.line{
    margin: 28px 170px;

  }
.b-text{
    font-size: 20px;
    text-align: center;
    margin-left: -48px;
    padding-top: 12px;
    padding-bottom: 12px;

  }
.b-btn{
  margin-left: 172px;
}
.form-box{
  margin-top: -60px;
  margin-left: 80px;
  padding: 45px 25px 35px 25px;
  margin-right: -98px;

}
.business .container{
  margin-left: 99px;
}
.business .bu-content{
   margin-left: -42px; 
}
.business .bu-icon{
  margin-left: 130px;
}

.business h2{
   font-size: 40px;
  }
.bu-content .line4{
  margin-left: auto;
}
.business .bu-content p{
  margin: 20px -149px;
  text-align: center;
  font-size: 14px
}
.bu-icon{
  text-align: center; 
  margin-left: 140px;
  margin-left: -10px;
}
.projects{
  width: 1406px;
}
/*.p-tag{
    right: -94px;
  }
*/.img-fluid{
  margin-left: 210px;
 }
.pro-right{
  margin-left: 20px;
  margin-top: 86px;
}

.pro-right h2 {
    margin-right: 150px;
    padding-right: 150px;
}
.pro-right p{
  margin-right: 166px;
  padding-right: 189px;
}
.bu-icon{
  text-align: left;
}

.img-fluid {
  margin-left: 135px;
  max-width: 170vh;
  height: 130vh;
}
.p-tag {
  right: -25px;
  bottom: -20px;
  padding: 70px 60px;
}
.p-tag h4{
  font-size: 36px;
}
.p-tag span{
  font-size: 14px;
}

.projects .offset-2 {
  margin-left: auto;
  margin-right: -130px;
}
.projects .row>*{
  width: auto;
}
.pro-right{ 
   margin-top: 70px;
   margin-left: 26px;
}
/*.icon-texts .row>*{
    width: 0;
}*/

  
  }
