

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  header .container{
    width: auto;
  }
  header .row{
    width: auto;
  }
  .sticky{
    width: 320px;
  }
  .banner{
    width: 320px;
    height: 1130px;

  }
  .banner .offset-1{
    margin-left: 0px;
  }
  .banner-left, .banner-right {
    height: 100vh;
  }
  .b-title{
    font-size: 40px;
  }
  .b-text{
    font-size: 18px;
  }
  .banner .offset-2{
    margin-left: -30px;
  }
  .form-box{
    margin: 10px 22px;
    padding: 71px 5px 35px 5px;
  }
  .f-header {
    padding: 0px;
    text-align: center
  }
  .f-header h2{
    font-size: 30px;
    padding: 0px 9px;
  }
  .bu-content{
    width: 320px;
  }
  .bu-content p{
    margin: 0px;
    padding: 0px;
  }
  .bu-icon{
    display: block;
  }
  .pro-left{
    width: 290px;
  }
  .p-tag{
    padding: 10px 15px;
    bottom: -25px;
    right: 0;
  }
  .projects .offset-2{
    margin-left: auto;
  } 
  .pro-right{
    width: 290px;
    margin-top: 75px;
  }
  .pro-right h2{
    font-size: 24px;
    margin-right: 0px;
  }
  .pro-right p{
    margin-right: 0px;
  }
  .row .dot-it.row>* {
    width: auto;
  }
  .choose .container{
    width: auto;
  }
  .about-text{
    width: 320px;
  }
  .about-text h2{
    font-size: 24px;
  }
  .about-text p{
    margin-right: 25px;
  }
  .about .offset-1{
    margin-left: auto;
  }
  .dot-text .row>*{
    width: auto;
  }
  .about img {
    margin-bottom: 30px;
    margin-top: 70px;
    width: 290px;
  }
  .testimonial .container{
    width: auto;
    margin-left: -86px;
    padding: 0px 43px;
  }
  .items p{
    font-size: 16px;
    margin-right: 32px;
  }
  .items .row>*{
    width: auto;
  }
  .items .p-c{
    margin-left: 185px;
    margin-top: -37px;
  }
  .im-tx{
    display: block;
    text-align: center;
  }
  .im-tx .col-md-4{
    width: auto;
  }
  .im-tx img{
    width: 290px;
  }
  .footer .col-md-4{
    width: auto;
  }
  .footer input{
    width: 82%;
  }
  .i-g img{
    padding: 21px 25px;
  }
  .f-c{
    width: 310px;
  }
  .arow-up ul li i{
    left: 260px;
  }

  
  }
